<%- include('includes/head.ejs') %>

<section class="section">
    <div class="container">
        <h3 id="title" class="title"> 500 - Error Processing Image</h3>
        <div class="box" style="background-color: #c3b8b8;">
            <% if (filetype == true ) { %>
                <p class="is-size-4">The file type that you uploaded is not supported. Please only upload PNG or JPEG files.</p>
                <br>
            <% } %>
            <p>An error has occured with the selected image. Please look for help, and prey you never see this page. 
            <br>
            On the navbar select Image Processing to return to the home page. 
            </p>
        </div>
    </div>
</section>
<%- include('includes/foot.ejs') %>
</body>

</html>