<%- include('includes/head.ejs') %>

<body>
<section class="section">
    <div class="container">
        <h1 id="title" class="title">Parallel Image Processor</h1>
        <p>
            Welcome! This is a small website application which uses the worker threads to process an image.
            Please upload an image, select the type of processing that you want, and submit the image! 
            You can compare the speed by selecting one core, and then multiple to compare both speeds.
        </p>
        <br>
        <form action="/processImage" method="POST" enctype="multipart/form-data">
            <label class="label" for="type">Type of Processing:</label>
            <div class="control">
                <label class="radio">
                    <input type="radio" name="type" value="blur"/>
                    Blur
                </label>
                <label class="radio">
                    <input type="radio" name="type" value="grayscale" />
                    Grayscale
                </label>
                <label class="radio">
                    <input type="radio" name="type" value="sepia" />
                    Sepia
                </label>
                <label class="radio">
                    <input type="radio" name="type" value="invert" />
                    Invert
                </label>
            </div>
            <br>
            <label class="label" for="cores">Number of cores</label>
            <div class="control">
                <label class="radio">
                    <input type="radio" name="cores" value="single" />
                    Single Core (Sequential)
                </label>
                <label class="radio">
                    <input type="radio" name="cores" value="multiple" />
                    Computer CPU Cores
                </label>
            </div>
            <br>

            <label class="label" for="imagen">Image to Process:</label>
            <div id="file-js-upload" class="file is-info has-name">
                <label class="file-label">
                    <input class="file-input" type="file" name="image" accept="image/png, image/jpeg" id="image" />
                    <span class="file-cta">
                        <span class="file-icon">
                            <i class="fas fa-upload"></i>
                        </span>
                        <span class="file-label"> Choose a file… </span>
                    </span>
                    <span class="file-name">No file uploaded</span>
                </label>
            </div>
            <br>
            <input class="button is-info" type="submit"
                value="Upload & Process" id="upload" disabled>
        </form>
    </div>
</section>

<%- include('includes/foot.ejs') %>
<script>
    const fileInput = document.querySelector("#file-js-upload input[type=file]");
    fileInput.onchange = () => {
        if (fileInput.files.length > 0) {
            const fileName = document.querySelector("#file-js-upload .file-name");
            fileName.textContent = fileInput.files[0].name;
        }
    };

    const uploadBtn = document.getElementById('upload');
    const radioVal = document.querySelectorAll('input[name="type"]');
    const coreVal = document.querySelectorAll('input[name="cores"]');
    const filename = document.querySelector('.file-name');
    const fileBtn = document.querySelector('#image');
    
    function check_content() {
        const radioVal = document.querySelector('input[name="type"]:checked');
        const coreVal = document.querySelector('input[name="cores"]:checked');
        uploadBtn.disabled = radioVal.value.length === 0 || filename.innerHTML === 'No file uploaded' ||
        coreVal.value.length === 0;
    }

    for (radio of radioVal) {
        radio.addEventListener('click', check_content);
    }

    for (radio of coreVal) {
        radio.addEventListener('click', check_content);
    }

    fileBtn.addEventListener('change', check_content);
</script>
</body>

</html>